body {
  word-wrap: break-word;
}

header, aside {
  padding: 20px;
}

aside {
  flex: 3;
}

aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-family: "garamond", serif;
}

h1{
  text-align: center;
}

h1 {
  color:#6600cc;
}

h2 {
  color: #00cccc;
}

h3{
  color: #008fb3;
}

footer{
  font-size: 0.75em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.25em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
